@import './global.css';
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Unbounded:wght@200..900&display=swap');

/* ALTERAR VALORES PARA TORNAR RESPONSIVO AO TAMANHO DE TELA */
/* VALORES MERAMENTES ILUSTRATIVOS NO MOMENTO */
/* Ajustarei valores a grid na estrutura html em si */
/* TRADUZIR VALORES A REM */

:root{
    --roxo-escuro: #390F58;
    --roxo: #8000DF;
    --cinza-preto-escuro: #161616;
    --preto: #000;
    --lima: #AFE343;
    --branco: #fff;
    --off-white: #F5F5F5;
    --unbounded: font-family: "Unbounded", sans-serif;
    --inter: font-family: "Inter", sans-serif;
    --titulo-h1: font-size: 80px;
    --titulo-h2: font-size: 48px;
    --titulo-h3: font-size: 28px;
    --texto-p: font-size: 20px;
}

body{
    background-color: var(--preto);
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

*{
    color: #fff;
}

.motorista{
    font-size: 28px;
    font-weight: bold;
    color: var(--lima);
    margin-right: 28px;
    font-family: "Inter", sans-serif;
}

.motorista::after{
    content: url("../images/arrow_outward.svg");
    position: absolute;
    vertical-align: middle;
    max-width: 100%;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.initial-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan{
    font-family: "Unbounded", sans-serif;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.sub-slogan{
    font-family: "Inter", sans-serif;
    font-size: 28px;
    text-align: center;
    margin: 20px 0 60px 0;
}

.botao{
    padding: 23px 75px;
    box-sizing: content-box;
    background-color: var(--lima);
    display: block;
    text-align: center;
    max-width: 360px;
    border-radius: 15px;
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #390F58;
    margin-bottom: 120px;
}

.botao:visited{
    color: #390F58;
}

.horizontal-cards-container{
    display: flex;
    gap: 20px;
    max-height: 350px;
    margin-bottom: 200px;
}

.cards-container{
    box-sizing: content-box;
    background-color: var(--cinza-preto-escuro);
    border-radius: 20px;
    padding: 50px 40px;
    flex-basis: 100%;
}

.imgs-card{
    margin-bottom: 30px;
}

.card-titles{
    font-family: "Unbounded", sans-serif;
    font-size: 28px;
    margin: 20px 0;
    text-transform: uppercase;
}

.card-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    letter-spacing: -0.32px;
    color: #bdbdbd !important;
}

.txt-ms{
    max-width: 320px;
}

.uppercase{
    text-transform: uppercase;
}

.minutagem{
    font-family: "Unbounded", sans-serif;
    font-size: 80px;
    font-weight: 600;
    color: var(--lima);
    text-align: center;
}

.minutagem-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 28px;
    letter-spacing: -0.48px;
    text-align: center;
    margin-top: 20px;
    color: #bdbdbd !important;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 100px auto;
    align-items: center;
    gap: 20px 20px;
}

.grid-card-container{
    display: grid;
    gap: 20px;
}

.grid-cards{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 30px;
    padding: 40px 50px;
    background-color: #161616;
    max-height: 100%;
    border-radius: 20px;
}

/* RESOLVE ALINHAMENTO POREM GAP FICA 40PX */
/*
.grid-cards:nth-child(2){
    margin-top: 40px;
} */

.grid-title{
    font-family: "Unbounded", sans-serif;
    font-size: 28px;
}

.grid-paragraph{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #bdbdbd !important;
}