<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publieasy</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/endomarketing.css') }}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<script type="text/javascript">
    setTimeout(function() {
        window.location.href = "{{ url_for('website.index') }}";
    }, 6000);
</script>
<body>
    <div class="main-container">
        <h1>{{count}}</h1>
        <p>Pessoas Acessaram Essa Página</p>
    </div>
</body>
</html>
